<p id="notice"><%= notice %></p>

<div class="panel panel-primary">

<div class="panel-header">Micropost</div>
  <div class="panel-heading>"Micropost</div>
</div>

<div class="panel-body">  
<p>
  <strong>Content:</strong>
  <%= @micropost.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @micropost.user_id %>
</p>

</div>

<div class="panel-footer">
<%= link_to 'Edit', edit_micropost_path(@micropost) , class:"btn btn-xs btn-info" %> |
<%= link_to 'Back', microposts_path , class:"btn btn-xs btn-info" %>
</div>